body {
    margin-bottom: 60px;
    background-image: radial-gradient( white, red);
    background-size: cover;
    color: black;
    text-align: center;
    font-family: Papyrus;
    font-weight: bold;
    text-decoration: underline;
}

h2 {
    font-size: 18px;
    font-family: Papyrus;
}

img {
    align-content: center;
    border-block: solid;
    border-radius: 30px;
    border-width: 5px;
    max-width: 20%;
}

.bl {
    border-block: solid;
    background-image: radial-gradient( red, white);
    border-width: 5px;
    border-radius: 5px;
    margin: 70px;
    padding: 70px;
    font-family: Papyrus;
}

.ud {
    border-block: solid;
    background-image: radial-gradient( red, white);
    border-width: 5px;
    border-radius: 5px;
    margin: 70px;
    padding: 70px;
    font-family: Papyrus;
}

.jk {
    border-block: solid;
    background-image: radial-gradient( red, white);
    border-width: 5px;
    border-radius: 5px;
    margin: 70px;
    padding: 70px;
    font-family: Papyrus;
}
.bt {
    border-block: solid;
    background-image: radial-gradient( red, white);
    border-width: 5px;
    border-radius: 5px;
    margin: 70px;
    padding: 70px;
    font-family: Papyrus;
}
.sm {
    border-block: solid;
    background-image: radial-gradient( red, white);
    border-width: 5px;
    border-radius: 5px;
    margin: 70px;
    padding: 70px;
    font-family: Papyrus;
}
