body {
    margin-bottom: 60px;
    background-image: radial-gradient( yellow, red, blue);
    background-size: cover;
    color: black;
    text-align: center;
    font-family: Papyrus;
    font-weight: bold;
}

h2 {
    font-size: 18px;
    font-family: Papyrus;
    font-weight: bold;
}

img {
    align-content: center;
    border-block: solid;
    border-radius: 30px;
    border-width: 5px;
    max-width: 20%;
}

.pt {
    border-block: solid;
    background-image: radial-gradient( yellow, red);
    border-width: 5px;
    border-radius: 5px;
    margin: 70px;
    padding: 70px;
    font-family: Papyrus;
    text-decoration: underline;
}

.bc {
    border-block: solid;
    background-image: radial-gradient( yellow, red);
    border-width: 5px;
    border-radius: 5px;
    margin: 70px;
    padding: 70px;
    font-family: Papyrus;
    text-decoration: underline;
}

.mn {
    border-block: solid;
    background-image: radial-gradient( yellow, red);
    border-width: 5px;
    border-radius: 5px;
    margin: 70px;
    padding: 70px;
    font-family: Papyrus;
    text-decoration: underline;
}

.sl {
    border-block: solid;
    background-image: radial-gradient( yellow, red);
    border-width: 5px;
    border-radius: 5px;
    margin: 70px;
    padding: 70px;
    font-family: Papyrus;
    text-decoration: underline;
}

.tn {
    border-block: solid;
    background-image: radial-gradient( yellow, red);
    border-width: 5px;
    border-radius: 5px;
    margin: 70px;
    padding: 70px;
    font-family: Papyrus;
    text-decoration: underline;
}